<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<header>

</header>
<section class="container">

    <h1><a href='<%- urlTisAdmin %>'>Войти</a></h1>

</section>
<footer>

</footer>
</body>
</html>